@{
    ViewData["Title"] = "Contacts";
}

<div class="float-right">
    <img src="https://scontent-sof1-2.xx.fbcdn.net/v/t1.6435-9/118240172_3586489881363852_5371112023919550148_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=1OHSQ-cTuLEAX-k5230&_nc_ht=scontent-sof1-2.xx&oh=00_AT8nb33XE7UoCOjY6gBuRYwD_EPl0JPlR1MPYHRZNactEA&oe=6271E516" alt="">
</div>
<br></br>
<h2>kaneida</h2>
<h2>Vladislav Vladovski</h2>
<h2>vladislavvladovski@gmail.com</h2>
<h2>+359888857265</h2>
