@{
}

<div class="text-center">
    <h1 class="display-4">Welcome to tools marketplace</h1>
    <h3><p>For order view our <a href="/Product">product catalogue</a>.</p></h3>
    <img src=https://j3phealthcaresolutions.com/wp-content/uploads/tools-large-opt-1-1024x449.jpg></img>
</div>
