@using Marketplace.Core.Constants

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <a href="/Product" class="nav-link">
            <i class="fas fa-store"></i>
            <p>
                Products
            </p>
        </a>

        @if (User.IsInRole(UserConstants.Roles.Shipper))
        {
            <br></br>

            <a class="nav-link">
                <i class=""></i>
                <p>
                    <br></br>
                    Shipper Controller
                </p>
            </a>

            <a href="/Shipper/ShipperOrders/" class="nav-link">
                <i class="fas fa-shipping-fast"></i>
                <p>
                    Delivery Orders
                </p>
            </a>
        }

        @if (User.IsInRole(UserConstants.Roles.Administrator))
        {
            <br></br>

            <a class="nav-link">
                <i class=""></i>
                <p>
                    <br></br>
                    Admin Controller
                </p>
            </a>

            <a href="/admin/user/manageusers" class="nav-link">
                <i class="fas fa-user-friends"></i>
                <p>
                    Manage Users
                </p>
            </a>

            <a href="/admin/Product/AddProduct" class="nav-link">
                <i class="fas fa-store"></i>
                <p>
                    Add Products
                </p>
            </a>

            <a href="/admin/Product/ManageProducts" class="nav-link">
                <i class="fas fa-store"></i>
                <p>
                    Manage Products
                </p>
            </a>

            <a href="/admin/Product/ManageProductsWithZeroQuantity" class="nav-link">
                <i class="fas fa-store"></i>
                <p>
                    Manage Products  With Zero Quantity
                </p>
            </a>

              <a href="/admin/Shipper/Orders" class="nav-link">
                <i class="fas fa-shipping-fast"></i>
                <p>
                    Add Remove Order to Shipper
                </p>
            </a>
            @*<a href="/admin/user/CreateRole" class="nav-link">
                <i class="fas fa-user-friends"></i>
                <p>
                CreateRole
                </p>
                </a>*@
        }
    </ul>
</nav>